<template>
  <div class="columns">
    <div class="column card-image">
      <figure class="image is-1by1">
        <img
          src="https://bulma.io/images/placeholders/1280x960.png"
          alt="Placeholder image"
        >
      </figure>
    </div>
    <div class="column">
      <div class="card-header">
        <p class="card-header-title">
          {{ article.title }}
        </p>
      </div>
      <div
        v-if="article.hasUser"
        class="card-content"
      >
        <div class="media">
          <div
            class="media-content"
          >
            <p class="title is-4">
              {{ article.hasUser.hasDetails.fname }}
              {{ article.hasUser.hasDetails.lname }}
            </p>
            <p class="subtitle is-6">
              @{{ article.hasUser.hasDetails.pseudo }}
            </p>
          </div>
        </div>
      </div>
      <div class="card-content">
        <div
          class="content"
          v-html="article.body"
        />
        <!-- <p>{{ article.body }}</p> -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ArticleView',
  props: {
    article: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style>

</style>
