<template>
  <section>
    <b-field label="Categories">
      <div class="block">
        <b-checkbox
          v-for="(category, index) in categoryList"
          :key="index"
          v-model="localNewArticle.checkBoxCategory"
          type="is-info"
          :native-value="category.cid"
          @input="$emit('input', { ...newArticle, checkBoxCategory: $event })"
        >
          {{ category.title }}
        </b-checkbox>
      </div>
    </b-field>
    <b-field label="Titre">
      <b-input
        v-model="localNewArticle.title"
        minlength="5"
        maxlength="100"
        @input="$emit('input', { ...newArticle, title: $event })"
      />
    </b-field>

    <!-- <b-field label="Message">
      <b-input
        v-model="localNewArticle.body"
        maxlength="1000"
        type="textarea"
        @input="$emit('input', { ...newArticle, body: $event })"
      />
    </b-field> -->
    <b-field label="Message">
      <ckeditor
        v-model="localNewArticle.body"
        class="editor-instance"
        :config="editorConfig"
        @input="$emit('input', { ...newArticle, body: $event })"
      />
    </b-field>
  </section>
</template>

<script>

export default {
  name: 'ArticleForm',
  model: {
    prop: 'newArticle',
  },
  props: {
    newArticle: {
      type: Object,
      required: true,
    },
    categoryList: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      editorData: '',
      editorConfig: {
        colorButton_enableAutomatic: true,
      },
    };
  },
  computed: {
    localNewArticle: {
      get() { return this.newArticle; },
      set(newValue) { this.$emit('input', { ...this.newArticle, ...newValue }); },
    },
  },
};
</script>

<style>

</style>
