<template>
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img
          class="is-rounded"
          src="https://bulma.io/images/placeholders/128x128.png"
          alt="Image"
        >
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{ comment.title }}</strong> <small>@{{ comment.userDetail.pseudo }}</small>
          <br>
          {{ comment.body }}
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <time><small>{{ comment.created_at }}</small></time>
        </div>
      </nav>
    </div>
  </article>
</template>

<script>
export default {
  name: 'CommentView',
  props: {
    comment: {
      type: Object,
      required: true,
    },
  },
};
</script>
