<template>
  <div
    id="myCvTemplate"
    class="columns backColor"
  >
    <div
      class="column is-one-third leftColumn"
      style="padding: 20px;"
    >
      <div
        id="myName"
        class="block"
      >
        <figure class="image">
          <img
            class="is-rounded"
            src="../assets/photo.jpg"
          >
        </figure>
      </div>
      <fieldset
        id="myAdresses"
        class="block"
      >
        <legend class="subtitle">
          INFORMATIONS
        </legend>
        <ul>
          <li
            v-for="(adresse, index) in myCv.adresses"
            :key="index"
          >
            <b-icon
              :icon="adresse.icon"
              size="is-small"
            />
            {{ adresse.value }}
          </li>
        </ul>
      </fieldset>
      <fieldset
        id="myLanguageInfo"
        class="block"
      >
        <legend class="subtitle">
          LANGAGES INFO
        </legend>
        <ul>
          <li
            v-for="(languageInfo, index) in myCv.xpTechno"
            :key="index"
          >
            {{ languageInfo.value }}
            <!-- <b-progress
              size="is-small"
              :value="languageInfo.progress"
            /> -->
          </li>
        </ul>
      </fieldset>
      <fieldset
        id="mySkills"
        class="block"
      >
        <legend class="subtitle">
          SOFT SKILLS
        </legend>
        <ul>
          <li
            v-for="(quality, index) in myCv.qualities"
            :key="index"
          >
            {{ quality }}
          </li>
        </ul>
      </fieldset>
      <fieldset
        id="mySavoirEtre"
        class="block"
      >
        <legend class="subtitle">
          COMPETENCES CLES
        </legend>
        <ul>
          <li
            v-for="(item, index) in myCv.savoirEtre"
            :key="index"
          >
            {{ item }}
          </li>
        </ul>
      </fieldset>
      <fieldset
        id="myLanguage"
        class="block"
      >
        <legend class="subtitle">
          LANGUES
        </legend>
        <ul>
          <li
            v-for="(language, index) in myCv.languages"
            :key="index"
          >
            {{ language.value }}
            <!-- <b-progress
              size="is-small"
              :value="language.progress"
            /> -->
            <br>
            <small>{{ language.details }}</small>
          </li>
        </ul>
      </fieldset>
    </div>
    <div class="column rightColumn">
      <div
        id="myInfo"
        class="block"
      >
        <p
          class="subtitle is-2"
          style="color:#1e3799; margin-bottom: 8px; font-size: 32px;"
        >
          {{ myCv.fname }}
        </p>
        <p
          class="subtitle is-1"
          style="color: #7f8fa6; margin-bottom: 5px; font-size: 35px;"
        >
          {{ myCv.lname }}
        </p>
        <p
          class="subtitle is-4"
          style="color: #40739e; font-size: 23px;"
        >
          {{ myCv.jobTitle }}
        </p>
      </div>
      <fieldset
        id="aboutMe"
        class="block"
      >
        <legend class="subtitle">
          A PROPOS DE MOI
        </legend>
        <p style=" font-size: 16px;">
          {{ myCv.aboutMe }}
        </p>
      </fieldset>
      <fieldset
        id="myTechnoXp"
        class="block"
      >
        <legend class="subtitle">
          EXPERIENCE
        </legend>
        <div
          v-for="(job, index) in myCv.xpProfessional"
          :key="index"
          class="columns"
        >
          <div class="column is-one-fifth col-center">
            <small class="date-style">{{ job.duration }}</small>
          </div>
          <div class="column horizontalBorder">
            <p
              class="subtitle"
              style="color: #40739e; font-size: 17px;"
            >
              {{ job.title }} <br>
              <strong>
                {{ job.company }} | {{ job.city }}
              </strong>
            </p>
            <p>{{ job.details }}</p>
          </div>
        </div>
      </fieldset>
      <fieldset
        id="mySchoolXp"
        class="block"
      >
        <legend class="subtitle">
          FORMATION
        </legend>
        <div
          v-for="(study, index) in myCv.xpStudies"
          :key="index"
          class="columns"
        >
          <div class="column is-one-fifth col-center">
            <small class="date-style">{{ study.duration }}</small>
          </div>
          <div class="column horizontalBorder">
            <p
              class="subtitle is-5"
              style="color: #40739e; font-size: 17px;"
            >
              {{ study.title }} <br>
              <strong>
                {{ study.company }} | {{ study.city }}
              </strong>
            </p>
          </div>
        </div>
      </fieldset>
      <div class="columns">
        <fieldset
          id="myHobbies"
          class="block column"
        >
          <legend class="subtitle">
            HOBBIES
          </legend>
          <ul>
            <li
              v-for="(hobbie, index) in myCv.hobbies"
              :key="index"
            >
              {{ hobbie }}
            </li>
          </ul>
        </fieldset>
        <fieldset
          id="myRef"
          class="block column"
        >
          <legend
            class="subtitle"
            style="margin-bottom: 4px;"
          >
            REFERENCES
          </legend>
          <ul style="margin-bottom: 15px;">
            <li><strong>{{ myCv.reference.fullname }}</strong></li>
            <li><strong>{{ myCv.reference.role }}</strong></li>
            <li>{{ myCv.reference.company }}</li>
            <li>{{ myCv.reference.phone }}</li>
            <li>{{ myCv.reference.mail }}</li>
          </ul>
        </fieldset>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CvView',
  props: {
    myCv: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style>
  #myCvTemplate {
    top: 0;
    left: 0;
    height: 1146px;
    width: 800px;
  }
  div#myName.block {
    display: flex;
    justify-content: center;
  }
  #myInfo {
    letter-spacing: 3px;
  }
  .leftColumn {
    background-color: grey;
    color: white;
  }
  .backColor {
    background-color: white;
  }
  .date-style {
    font-size: 14px;
    background-color: grey;
    box-shadow: 5px -4px lightgray;
    padding: 4px 8px;
    color: white;
  }
  .horizontalBorder {
    border-left: solid #40739e 1px;
  }
  .leftColumn legend {
    font-size: 17px;
    color: white;
    border: solid white 1px;
    padding: 7px;
    font-weight: 100;
  }
  .leftColumn fieldset {
    /* border-top: solid white 1px; */
    font-weight: 100;
  }
  .rightColumn legend {
    font-size: 17px;
    color: #40739e;
    border: solid #40739e 1px;
    padding: 7px;
  }
  .rightColumn fieldset {
    /* border-top: solid #40739e 1px; */
    font-weight: 100;
  }
  .col-center {
    text-align: center;
  }
  #mySkills ul, #mySavoirEtre ul, #myHobbies ul, #myLanguageInfo ul, #myLanguage ul {
    list-style: disc;
    margin-left: 20px;
  }
  .rightColumn strong {
    font-size: 13px;
  }
  #myHobbies.block.column {
    margin-left: 12px;
    padding: 0;
  }
  #myRef.block.column {
    text-align: right;
    padding: 0;
    margin-right: 12px;
  }
  #myAdresses.block li, #myLanguageInfo.block li,
  #mySkills.block li, #mySavoirEtre.block li,
  #myLanguage.block li, #myHobbies li, #myRef li {
      font-size: 14px;
  }
</style>
