<template>
  <b-table
    :data="localEntityList"
    :opened-detailed="localEditingEntityIdList"
    detailed
    detail-key="id"
    :show-detail-icon="false"
  >
    <b-table-column
      v-slot="props"
      field="id"
      label="#"
      width="100"
      numeric
    >
      {{ props.row.id }}
    </b-table-column>

    <b-table-column
      v-slot="props"
      field="property1"
      label="Property 1"
    >
      {{ props.row.property1 }}
    </b-table-column>
    <b-table-column
      v-slot="props"
      field="property2"
      label="Property 2"
    >
      {{ props.row.property2 }}
    </b-table-column>

    <b-table-column
      width="100"
      centered
    >
      <template #default="props">
        <b-button
          type="is-info"
          size="is-small"
          icon-left="edit"
          @click="toggle(props.row)"
        />
      </template>
    </b-table-column>

    <template
      #detail="props"
    >
      <form
        @submit.prevent="$emit('updateEntity',
                               localEditingEntityList[localEditingEntityList
                                 .findIndex(r => r.id === props.row.id)])"
      >
        <h3
          class="title is-3"
        >
          Édition de l'entitée <em>#{{ props.row.id }}</em>
        </h3>
        <EntityForm
          v-model="localEditingEntityList[localEditingEntityList
            .findIndex(r => r.id === props.row.id)]"
        />
        <br>
        <p class="has-text-right">
          <b-button
            type="is-danger"
            inverted
            icon-left="times-circle"
            @click="toggle(props.row)"
          >
            Annuler
          </b-button>

          <b-button
            type="is-success"
            icon-left="check"
            native-type="submit"
          >
            Enregistrer
          </b-button>
        </p>
      </form>
    </template>
  </b-table>
</template>

<script>
import EntityForm from './EntityForm';

export default {
  components: {
    EntityForm,
  },
  model: {
    prop: 'entityList',
  },
  props: {
    entityList: {
      type: Array,
      required: true,
    },
    editingEntityList: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  data() {
    return {
      localEditingEntityList: this.editingEntityList,
    };
  },
  computed: {
    localEntityList() {
      return [...this.entityList].sort((a, b) => a.id - b.id);
    },
    localEditingEntityIdList() {
      return this.localEditingEntityList.map((editingEntity) => editingEntity.id);
    },
  },
  watch: {
    editingEntity(editingEntity) {
      this.localEditingEntityList = editingEntity;
    },
    localEditingEntityList(editingEntity) {
      this.$emit('update:editingEntity', editingEntity);
    },
  },
  methods: {
    toggle(row) {
      if (this.localEditingEntityList.some((r) => r.id === row.id)) {
        this.localEditingEntityList = this.localEditingEntityList
          .filter((r) => r.id !== row.id);
      } else {
        this.localEditingEntityList = [...this.localEditingEntityList, { ...row }];
      }
    },
  },
};
</script>
