<template>
  <div>
    <b-field label="Nom">
      <b-input
        v-model="localNewUser.hasDetails.lname"
        minlength="1"
        maxlength="50"
        @input="$emit('input', { ...newUser, lname: $event })"
      />
    </b-field>

    <b-field label="Prénom">
      <b-input
        v-model="localNewUser.hasDetails.fname"
        minlength="1"
        maxlength="50"
        @input="$emit('input', { ...newUser, fname: $event })"
      />
    </b-field>

    <b-field
      label="Pseudo"
    >
      <b-input
        v-model="localNewUser.hasDetails.pseudo"
        minlength="1"
        maxlength="50"
        @input="$emit('input', { ...newUser, pseudo: $event })"
      />
    </b-field>
  </div>
</template>

<script>
export default {
  name: 'UserDetailsForm',
  props: {
    newUser: {
      type: Object,
      required: true,
    },
  },
  computed: {
    localNewUser: {
      get() { return this.newUser; },
      set(newValue) { this.$emit('input', { ...this.newUser, ...newValue }); },
    },
  },
};
</script>

<style>

</style>
