<template>
  <div>
    <b-field
      label="Email"
    >
      <b-input
        v-model="localNewUser.email"
        type="email"
        @input="$emit('input', { ...newUser, email: $event })"
      />
    </b-field>

    <b-field label="Password">
      <b-input
        v-model="localNewUser.password"
        type="password"
        minlength="3"
        maxlength="50"
        password-reveal
        @input="$emit('input', { ...newUser, password: $event })"
      />
    </b-field>
  </div>
</template>

<script>
export default {
  name: 'UserForm',
  props: {
    newUser: {
      type: Object,
      required: true,
    },
  },
  computed: {
    localNewUser: {
      get() { return this.newUser; },
      set(newValue) { this.$emit('input', { ...this.newUser, ...newValue }); },
    },
  },
};
</script>

<style>

</style>
