<template>
  <section class="section">
    <div class="container">
      <h1 class="title is-4">
        Formulaire décisionnel
      </h1>
      <transition-group
        name="enterLeave"
        tag="div"
      >
        <div
          v-if="question"
          :key="question.key"
          class="box enterLeave-item"
        >
          <h1 class="subtitle">
            Vous êtes recruteur/se ?
            Et si on inversait les rôles, à vous de répondre aux questions !
          </h1>

          <form>
            <p class="subtitle">
              {{ question.label }}
            </p>
            <div class="block">
              <b-radio
                v-for="(option, index) in question.solution.response"
                :key="index"
                v-model="question.answer"
                :class="question.solution.responseEffect(option)"
                :native-value="option"
              >
                {{ option }}
              </b-radio>
            </div>

            <div class="buttons">
              <b-button
                class="is-info"
                @click="goNext(question)"
              >
                Suivant
              </b-button>
              <b-button
                class="is-info"
                @click="goPrevious(question)"
              >
                Retour
              </b-button>
            </div>
          </form>
        </div>
      </transition-group>
      <div
        v-if="!question && questionReplied[questionReplied.length - 1].key
          !== 'describeYourCompany'"
        class="box"
      >
        <b-message class="is-warning">
          Vous ne répondez pas aux critères attendus.<br>
          Cordialement.<br>
          Bisous.
        </b-message>
        <b-button
          class="is-info"
          @click="goPrevious(question)"
        >
          Retour
        </b-button>
      </div>
      <div
        v-if="!question && questionReplied[questionReplied.length - 1].key
          === 'describeYourCompany'"
        class="box"
      >
        <b-message class="is-success">
          Félicitation.<br>
          Vous pouvez avoir accès à mon C.V.<br>
          Bisous.
        </b-message>
        <b-button
          type="is-info"
          tag="router-link"
          :to="{ path: '/myCv' }"
        >
          Voir le C.V
        </b-button>
      </div>
    </div>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'TheDecisionForm',
  data() { return { showCVForm: false }; },
  computed: {
    ...mapGetters({
      question: 'DecisionForm/getQuestion',
      questionReplied: 'DecisionForm/getRepliedQuestions',
    }),
  },
  methods: {
    ...mapActions({
      $setAnswerToPush: 'DecisionForm/$setAnswerToPush',
      $setAnswerToPop: 'DecisionForm/$setAnswerToPop',
    }),
    goNext(question) {
      if (question.answer !== null) {
        this.$setAnswerToPush(question);
      }
    },
    goPrevious(question) {
      this.$setAnswerToPop(question).then(() => { this.question.answer = null; });
    },
  },
};
</script>

<style>
.enterLeave-item {
  transition: all 0.5s;
}
.enterLeave-enter {
  opacity: 0;
  transform: translateX(-300px);
}
.enterLeave-leave-to {
  opacity: 0;
  transform: translateX(300px);
}
.enterLeave-leave-active {
  position: absolute;
}

.phpAnswerAnimation {
  pointer-events: none;
  transition-delay: 4s;
  transition-property: opacity;
  opacity: 0.5;
}

.javaAnswerAnimation {
  pointer-events: none;
  animation: rotateOut;
  animation-duration: 8s;
  transition-delay: 8s;
  transition-property: opacity;
  opacity: 0;
}

.pythonAnswerAnimation {
  pointer-events: none;
  animation: backOutRight;
  animation-duration: 8s;
  transition-delay: 8s;
  transition-property: opacity;
  opacity: 0;
}
.otherAnimation {
  pointer-events: none;
  animation: zoomOut;
  animation-duration: 8s;
  transition-delay: 8s;
  transition-property: opacity;
  opacity: 0;
}
</style>
