<template>
  <div v-if="screenWidth()">
    <div class="section">
      <div class="html2pdf-content">
        <vue-html2pdf
          ref="html2Pdf"
          :show-layout="showCv"
          :float-layout="true"
          :enable-download="true"
          :preview-modal="false"
          :paginate-elements-by-height="1400"
          filename="cvEddyGrosjean"
          :pdf-quality="2"
          :manual-pagination="false"
          pdf-format="a4"
          pdf-orientation="portrait"
          pdf-content-width="827px"
        >
          <section
            slot="pdf-content"
          >
            <CvView
              :my-cv="myCv"
            />
          </section>
        </vue-html2pdf>
      </div>
      <div
        v-if="showCv"
        class="buttons closer"
        style="z-index: 6;"
      >
        <b-button
          class="closeCv"
          type="is-danger"
          @click="showCv = false"
        >
          <b-icon
            pack="fa"
            icon="times-circle"
            size="is-medium"
          />
        </b-button>
        <b-button
          class="closeCv"
          type="is-info"
          @click="generateReport()"
        >
          <b-icon
            pack="fas"
            icon="download"
            size="is-medium"
          />
        </b-button>
      </div>
      <div

        class="buttons"
      >
        <button
          class="button is-info"
          @click="showCv = !showCv"
        >
          Afficher le rendu
        </button>
      </div>
    </div>
  </div>
  <div
    v-else
    class="section"
  >
    <b-message type="is-warning">
      Le CV n'est pas encore supporté par le format mobile
    </b-message>
  </div>
</template>

<script>
import VueHtml2pdf from 'vue-html2pdf';
import { mapGetters } from 'vuex';
import CvView from '../../components/CvView';

export default {
  name: 'TheMyCv',
  components: {
    VueHtml2pdf,
    CvView,
  },
  data() {
    return { showCv: true, showPage: null };
  },
  computed: {
    ...mapGetters({
      myCv: 'MyCV/getMyCv',
    }),
  },
  methods: {
    generateReport() {
      this.$refs.html2Pdf.generatePdf();
    },
    screenWidth() {
      if (window.innerWidth > 800) return true;
      return false;
      // window.onresize = () => {
      //   if (window.innerWidth > 800) return true;
      //   return false;
      // };
    },
  },
};
</script>

<style>
  .fade {
    display: none;
  }
  .vue-html2pdf .layout-container.show-layout[data-v-1fd3ad26] {
    display: flex;
}
  .control-container {
    position: fixed;
    z-index: 5;
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    right: 15px;
    box-shadow: 5px 5px 10px #000;
    max-height: calc(100vh - 50px);
  }
  @media only screen and (max-width: 1165px) {
    .control-container {
      width: 180px;
      top: 40vh;
      right: 0px;
      opacity: 0.4;
    }
    .control-container:hover {
      opacity: 1;
    }
  }
  @media only screen and (max-width: 800px) {
    .control-container, .html2pdf-content {
      display: none;
    }
    .fade {
      background-color: white;
      border-color: #dbdbdb;
      border-width: 1px;
      color: #363636;
      cursor: pointer;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding-bottom: calc(0.5em - 1px);
      padding-left: 1em;
      padding-right: 1em;
      padding-top: calc(0.5em - 1px);
      text-align: center;
      white-space: nowrap;
      background-color: #7957d5;
      border-color: transparent;
      color: #fff;
      -moz-appearance: none;
      -webkit-appearance: none;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border: 1px solid transparent;
      border-radius: 4px;
      -webkit-box-shadow: none;
      box-shadow: none;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      font-size: 1rem;
      height: 2.5em;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      line-height: 1.5;
      padding-bottom: calc(0.5em - 1px);
      padding-left: calc(0.75em - 1px);
      padding-right: calc(0.75em - 1px);
      padding-top: calc(0.5em - 1px);
      position: relative;
      vertical-align: top;
    }
  }
  .closeCv {
    z-index: 99999999;
    margin-right: 1vw;
  }
  .closer {
    /* top: 0;
    right: 0; */
    flex-direction: row-reverse;
  }
</style>
