<template>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Blog</strong> by <a href="#">Eddy Grosjean</a>.
      </p>
      <p>
        Build with VueJs & NodeJs
      </p>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'TheFooter',
};
</script>

<style>
  /* .footer {
    background-color: whitesmoke;
    border-top: 1px solid black;
  } */
</style>
