<template>
  <nav
    id="myNavBar"
    class="navbar is-light"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="navbar-brand">
      <b-navbar-item
        id="itemImg"
        class="navbar-item"
        tag="router-link"
        :to="{ path: '/' }"
      >
        <img
          src="../assets/mylogo1.png"
          width="80"
          height="80"
        >
      </b-navbar-item>

      <a
        id="burgerButton"
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarItems"
        @click="toggleBurger()"
      >
        <span aria-hidden="true" />
        <span aria-hidden="true" />
        <span aria-hidden="true" />
      </a>
    </div>

    <div
      id="navbarItems"
      class="navbar-menu"
    >
      <div class="navbar-start">
        <b-navbar-item
          tag="router-link"
          :to="{ path: '/' }"
        >
          ACCUEIL
        </b-navbar-item>

        <b-navbar-dropdown
          hoverable
          label="CATEGORIES"
        >
          <b-navbar-item
            v-for="(category, index) in categoryList"
            :key="index"
            tag="router-link"
            :to="{ path: `/category/${category.cid}` }"
          >
            {{ category.title }}
          </b-navbar-item>
        </b-navbar-dropdown>

        <b-navbar-dropdown
          hoverable
          label="MES PROJETS"
        >
          <b-navbar-item
            v-for="(project, index) in projectList"
            :key="index"
            tag="router-link"
            :to="{ path: `${project.url}` }"
          >
            {{ project.name }}
          </b-navbar-item>
        </b-navbar-dropdown>

        <b-navbar-item
          tag="router-link"
          :to="{ path: '/contact' }"
        >
          CONTACT
        </b-navbar-item>

        <b-navbar-item
          v-if="isAdmin()"
          tag="router-link"
          :to="{ path: '/administrator/articleAdministrator' }"
        >
          ESPACE ADMINISTRATEUR
        </b-navbar-item>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <b-navbar-item
              class="button is-info"
              tag="router-link"
              :to="{ path: '/signin' }"
            >
              <strong>S'inscrire</strong>
            </b-navbar-item>
            <b-navbar-item
              class="button is-info"
              tag="router-link"
              :to="{ path: '/login' }"
            >
              <strong>Se connecter</strong>
            </b-navbar-item>
          </div>
        </div>
        <b-navbar-item
          v-if="userAuth.uid"
          tag="router-link"
          :to="{ path: '/userSettings' }"
        >
          <b-icon
            icon="account"
            size="is-large"
            type="is-info"
          />
        </b-navbar-item>
        <b-navbar-item
          v-if="userAuth.uid"
          @click="logOut()"
        >
          <b-icon
            icon="logout"
            size="is-medium"
            type="is-info"
          />
        </b-navbar-item>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import RightMixin from '../mixins/RightMixin';

export default {
  name: 'TheNavBar',
  mixins: [RightMixin],
  data() {
    return {
      projectList: [
        // { name: 'Blog Front(vueJs) + API REST(nodeJs)', url: '/' },
        { name: 'Formulaire Décisionnel', url: '/decisionForm' },
        { name: 'Animations 2d', url: '/animatedCircles' },
        // { name: 'Chat instantané avec socket.io', url: '/chat' },
      ],
    };
  },
  computed: {
    ...mapGetters({
      categoryList: 'Category/getCategoryList',
      userAuth: 'Authenticate/getUserAuth',
    }),
  },
  mounted() {
    this.reportCategoryList({ httpQuery: {} });
  },
  methods: {
    ...mapActions({
      getSession: 'Authenticate/getSession',
      reportCategoryList: 'Category/reportCategoryList',
      destroySession: 'Authenticate/destroySession',
    }),
    logOut() { this.destroySession().then(() => { this.getSession(); this.$router.push('/'); }); },
    toggleBurger() {
      const burgerButton = document.getElementById('navbarItems');
      if (burgerButton.classList.contains('is-active')) burgerButton.classList.remove('is-active');
      else burgerButton.classList.add('is-active');
    },
  },
};
</script>

<style>
  #myNavBar {
    height: 80px;
  }
  #itemImg img {
    max-height: 100%;
  }
</style>
