<template>
  <div
    id="containerAnim"
    class="containerAnim"
  >
    <div class="containerAnim-content">
      <h1 class="title is-2">
        Animation 2d avec l'utilisation de Matter.js
      </h1>
    </div>
  </div>
</template>

<script>
import lauchAnim from './animatedCircles';

export default {
  name: 'TheAnimatedCircles',
  mounted() { this.startAnim(); },
  methods: {
    startAnim() { lauchAnim(); },
  },
};
</script>

<style>
  canvas {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  .containerAnim {
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  .containerAnim-content {
    text-align: center;
    position: absolute;
    z-index: 3;
  }
</style>
