<template>
  <section class="section">
    <h1 class="title">
      Gestion des articles
    </h1>
    <div
      v-if="isAdmin()"
      class="container"
    >
      <div class="columns">
        <div class="container column is-9">
          <div class="card">
            <div class="card-header">
              <p class="card-header-title">
                Ajouter un nouvel article
              </p>
            </div>
            <form class="card-content">
              <ArticleForm
                v-model="newArticle"
                :category-list="categoryList"
              />
            </form>
            <div class="buttons card-footer-item is-right">
              <button
                class="button is-info"
                @click="sendArticle()"
              >
                Envoyer
              </button>
            </div>
          </div>
        </div>
      </div>
      <br>

      <p class="subtitle">
        Liste des articles avec leurs commentaires
      </p>
      <b-table
        ref="table"
        class="box"
        :data="articleList"
        paginated
        per-page="5"
        detailed
        :detail-key="articleList.aid"
        aria-next-label="Next page"
        aria-previous-label="Previous page"
        aria-page-label="Page"
        aria-current-label="Current page"
      >
        <b-table-column
          v-slot="props"
          field="articleList.aid"
          label="ID"
          width="40"
          numeric
        >
          {{ props.row.aid }}
        </b-table-column>

        <b-table-column
          v-slot="props"
          field="articleList.title"
          label="Titre"
          sortable
        >
          {{ props.row.title }}
        </b-table-column>

        <b-table-column
          v-slot="props"
          field="articleList.hasUser.hasDetails.pseudo"
          label="Auteur"
          sortable
        >
          {{ props.row.hasUser.hasDetails.pseudo }}
        </b-table-column>

        <b-table-column
          v-slot="props"
          field="articleList.created_at"
          label="Date"
          sortable
          centered
        >
          <span class="tag is-success">
            {{ props.row.created_at }}
          </span>
        </b-table-column>

        <template #detail="props">
          <article class="media">
            <figure class="media-left">
              <p class="image is-48x48">
                <img
                  class="is-rounded"
                  src="https://bulma.io/images/placeholders/96x96.png"
                >
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <div>
                  <p>
                    <strong>{{ props.row.title }} </strong>
                    <small>@{{ props.row.hasUser.hasDetails.pseudo }}</small>
                    <br>
                    <small>Le {{ props.row.created_at }}</small>
                    <br>
                  </p>
                  <div v-html="props.row.body" />
                  <!-- <p>{{ props.row.body }}</p> -->
                </div>

                <div class="buttons">
                  <b-button
                    type="is-info"
                    icon-right="pen"
                    size="is-small"
                    tag="router-link"
                    :to="{ path: `/articleEdit/${props.row.aid}` }"
                  />
                  <b-button
                    type="is-danger"
                    icon-right="delete"
                    size="is-small"
                    @click="deleteAnArticle(props.row.aid)"
                  />
                </div>
                <article
                  v-for="(comment, index) in props.row.hasComment"
                  :key="index"
                  class="media"
                >
                  <figure class="media-left">
                    <p class="image is-48x48">
                      <img
                        class="is-rounded"
                        src="https://bulma.io/images/placeholders/96x96.png"
                      >
                    </p>
                  </figure>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        @{{ comment.userDetail.pseudo }}
                        <br>
                        <strong>{{ comment.title }}</strong>
                        <br>
                        {{ comment.body }}
                      </p>
                      <div class="buttons">
                        <b-button
                          type="is-danger"
                          icon-right="delete"
                          size="is-small"
                          @click="deleteAComment(comment.cid)"
                        />
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </article>
        </template>
      </b-table>
    </div>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import RightMixin from '../mixins/RightMixin';
import DateMixin from '../mixins/DateMixin';
import ArticleForm from '../components/ArticleForm';

export default {
  name: 'TheArticleAdministrator',
  components: {
    ArticleForm,
  },
  mixins: [RightMixin, DateMixin],
  data() {
    return {
      newArticle: {
        title: '',
        body: '',
        checkBoxCategory: [],
        hasCategory: [],
      },
      editing: [],
    };
  },
  computed: {
    ...mapGetters({
      articleList: 'Article/getArticleList',
      userAuth: 'Authenticate/getUserAuth',
      categoryList: 'Category/getCategoryList',
    }),
  },
  mounted() {
    this.reportArticleList({ httpQuery: { hasUser: true, hasComment: true } });
    this.reportCategoryList({ httpQuery: {} });
  },
  methods: {
    ...mapActions({
      reportArticleList: 'Article/reportArticleList',
      postArticle: 'Article/postArticle',
      deleteArticle: 'Article/deleteArticle',
      deleteComment: 'Comment/deleteComment',
      reportCategoryList: 'Category/reportCategoryList',
    }),
    deleteAnArticle(aid) {
      this.deleteArticle({ payload: { aid } })
        .then(() => this.reportArticleList({ httpQuery: { hasUser: true, hasComment: true } }));
    },
    deleteAComment(cid) {
      this.deleteComment({ payload: { cid } })
        .then(() => this.reportArticleList({ httpQuery: { hasUser: true, hasComment: true } }));
    },
    sendArticle() {
      // need to recover every cid into newArticle.checkBoxCategory
      const myArticle = { ...this.newArticle };
      myArticle.checkBoxCategory.map((cid) => myArticle.hasCategory.push({ cid }));
      delete myArticle.checkBoxCategory;

      this.postArticle({
        payload: {
          ...myArticle,
          user_uid: this.userAuth.uid,
          created_at: this.currentDate(),
        },
      })
        .then((res) => {
          if (res) {
            this.resetInputs();
            this.$buefy.toast.open({
              message: 'Article créé',
              position: 'is-bottom-right',
              type: 'is-success',
            });
          } else {
            this.$buefy.toast.open({
              message: 'Erreur',
              position: 'is-bottom-right',
              type: 'is-danger',
            });
          }
        })
        .then(() => this.reportArticleList({ httpQuery: { hasUser: true, hasComment: true } }));
    },
    resetInputs() {
      this.newArticle = {
        title: '',
        body: '',
        checkBoxCategory: [],
      };
    },
  },
};
</script>

<style>

</style>
