<template>
  <section class="section">
    <div
      v-if="isAdmin()"
      class="columns"
    >
      <div class="container column is-8">
        <div class="card">
          <div class="card-header">
            <h1 class="card-header-title">
              Modifier l'article
            </h1>
          </div>

          <form class="card-content">
            <ArticleForm
              v-if="localNewArticle && localNewArticle.hasCategory"
              v-model="localNewArticle"
              :category-list="categoryList"
            />
          </form>
          <div class="buttons card-footer-item is-right">
            <button
              class="button is-info"
              @click="editArticle()"
            >
              Modifier
            </button>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <b-message type="is-danger">
        <p>
          Qu'est-ce que tu fais là ! C'est réservé aux Administrateurs
        </p>
      </b-message>
    </div>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import RightMixin from '../mixins/RightMixin';
import ArticleForm from '../components/ArticleForm';

export default {
  name: 'TheArticleEditor',
  components: {
    ArticleForm,
  },
  mixins: [RightMixin],
  computed: {
    ...mapGetters({
      article: 'Article/getArticle',
      userAuth: 'Authenticate/getUserAuth',
      categoryList: 'Category/getCategoryList',
    }),
    localNewArticle: {
      get() {
        if (!this.article.hasCategory) return undefined;
        return {
          ...this.article,
          checkBoxCategory: this.article.checkBoxCategory
            ? this.article.checkBoxCategory
            : this.article.hasCategory.map((cat) => (cat.cid)),
        };
      },
      set(newValueOfArticle) {
        this.$update_article(newValueOfArticle);
      },
    },
  },
  mounted() {
    this.getArticle({
      payload: { aid: this.$route.params.aid },
      httpQuery: { hasCategory: true },
    });
  },
  methods: {
    ...mapActions({
      getArticle: 'Article/getArticle',
      putArticle: 'Article/putArticle',
      $update_article: 'Article/$update_article',
    }),
    editArticle() {
      const myArticle = { ...this.article };
      const { title, body, checkBoxCategory } = myArticle;
      let { hasCategory } = myArticle;
      hasCategory = checkBoxCategory
        ? checkBoxCategory.map((cid) => {
          const cat = hasCategory.find((cate) => cate.cid === cid);
          return cat || ({ cid });
        })
        : hasCategory;

      this.putArticle({
        payload: {
          aid: this.$route.params.aid,
          title,
          body,
          hasCategory,
        },
      })
        .then((res) => {
          if (res) {
            this.$buefy.toast.open({
              message: 'Article modifié',
              position: 'is-bottom-right',
              type: 'is-success',
            });
          } else {
            this.$buefy.toast.open({
              message: 'Erreur',
              position: 'is-bottom-right',
              type: 'is-danger',
            });
          }
        });
    },
  },
};
</script>

<style>

</style>
