<template>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Un article
      </h1>
      <div class="card">
        <ArticleView :article="article" />
      </div>

      <router-view :aid="$route.params.aid" />
    </div>
  </section>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import ArticleView from '../components/ArticleView';

export default {
  name: 'TheArticle',
  components: {
    ArticleView,
  },
  data() {
    return {
      isOpen: true,
      newArticle: {
        title: '',
        body: '',
      },
    };
  },
  computed: {
    ...mapGetters({
      article: 'Article/getArticle',
      userAuth: 'Authenticate/getUserAuth',
      categoryList: 'Category/getCategoryList',
    }),
  },
  mounted() {
    this.getArticle({
      payload: { aid: this.$route.params.aid },
      httpQuery: { hasUser: true, hasComment: true, hasCategory: true },
    });
    this.reportCategoryList({ httpQuery: {} });
  },
  methods: {
    ...mapActions({
      getArticle: 'Article/getArticle',
      reportCategoryList: 'Category/reportCategoryList',
    }),
  },
};
</script>
