<template>
  <section class="section">
    <div
      v-if="isAdmin()"
      class="container"
    >
      <h1 class="title">
        Espace Administrateur
      </h1>
      <div
        id="ArticleListToolbar"
        class="buttons"
      >
        <router-link
          :to="`/administrator/articleAdministrator`"
          class="button is-info"
        >
          Gestion des articles
        </router-link>
        <router-link
          :to="`/administrator/userAdministrator`"
          class="button is-info"
        >
          Gestion des utilisateurs
        </router-link>
        <router-link
          :to="`/administrator/categoryAdministrator`"
          class="button is-info"
        >
          Gestion des catégories
        </router-link>
      </div>

      <router-view />

      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">
              Articles
            </p>
            <p class="title">
              {{ articleCount }}
            </p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">
              Commentaires
            </p>
            <p class="title">
              {{ commentCount }}
            </p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">
              Utilisateurs
            </p>
            <p class="title">
              {{ userCount }}
            </p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">
              Likes
            </p>
            <p class="title">
              789
            </p>
          </div>
        </div>
      </nav>
    </div>
    <div v-else>
      <b-message type="is-danger">
        <p>
          Qu'est-ce que tu fais là ! C'est réservé aux Administrateurs
        </p>
      </b-message>
    </div>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import RightMixin from '../mixins/RightMixin';

export default {
  name: 'TheAdministrator',
  mixins: [RightMixin],
  computed: {
    ...mapGetters({
      articleCount: 'Article/getArticleCount',
      commentCount: 'Comment/getCommentCount',
      userCount: 'User/getUserCount',
      userAuth: 'Authenticate/getUserAuth',
    }),
  },
  mounted() {
    this.reportArticleCount();
    this.reportCommentCount();
    this.reportUserCount();
  },
  methods: {
    ...mapActions({
      reportArticleCount: 'Article/reportArticleCount',
      reportCommentCount: 'Comment/reportCommentCount',
      reportUserCount: 'User/reportUserCount',
    }),
    isAllowed() {
      if (this.userAuth.hasRole && this.userAuth.hasRole.role === 'admin') return true;
      return false;
    },
  },
};
</script>

<style>

</style>
