<template>
  <section class="section">
    <div class="columns">
      <div class="container column is-5">
        <div class="card">
          <div class="card-header">
            <p class="card-header-title">
              Contactez moi
            </p>
          </div>
          <form
            class="card-content"
          >
            <b-field label="NOM Prénom">
              <b-input v-model="newContact.name" />
            </b-field>

            <b-field
              label="Email"
            >
              <b-input
                v-model="newContact.email"
                type="email"
              />
            </b-field>

            <b-field label="Objet">
              <b-input v-model="newContact.subject" />
            </b-field>

            <b-field label="Message">
              <b-input
                v-model="newContact.message"
                maxlength="250"
                type="textarea"
              />
            </b-field>
          </form>
          <div class="buttons card-footer-item is-right">
            <button
              class="button is-info"
              @click="sendMail()"
            >
              Envoyer
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'TheContact',
  data() {
    return {
      newContact: {
        name: '',
        email: '',
        message: '',
        subject: '',
      },
    };
  },
  methods: {
    ...mapActions({
      postMail: 'Contact/postMail',
    }),
    sendMail() {
      this.postMail({ payload: { ...this.newContact } })
        .then((res) => {
          if (res) {
            this.resetInputs();
            this.$buefy.toast.open({
              message: 'Message envoyé',
              position: 'is-bottom-right',
              type: 'is-success',
            });
          } else {
            this.$buefy.toast.open({
              message: 'Erreur',
              position: 'is-bottom-right',
              type: 'is-danger',
            });
          }
        });
    },
    resetInputs() {
      this.newContact = {
        name: '',
        email: '',
        message: '',
        subject: '',
      };
    },
  },
};
</script>

<style>

</style>
