<template>
  <section class="section">
    <div
      v-if="isAdmin()"
      class="columns"
    >
      <div class="container column is-5">
        <div class="card">
          <div class="card-header">
            <p class="card-header-title">
              Modifier la catégorie
            </p>
          </div>

          <form class="card-content">
            <b-field label="Categorie">
              <b-input v-model="localNewCategory.title" />
            </b-field>
          </form>
          <div class="buttons card-footer-item is-right">
            <b-button
              label="Modifier"
              type="is-info"
              @click="confirm"
            />
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <b-message type="is-danger">
        <p>
          Qu'est-ce que tu fais là ! C'est réservé aux Administrateurs
        </p>
      </b-message>
    </div>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import RightMixin from '../mixins/RightMixin';

export default {
  name: 'TheCategoryEditor',
  mixins: [RightMixin],
  computed: {
    ...mapGetters({
      userAuth: 'Authenticate/getUserAuth',
      category: 'Category/getCategory',
    }),
    localNewCategory: {
      get() { return this.category; },
      set(newValue) {
        this.$update_category(newValue);
      },
    },
  },
  mounted() {
    this.getCategory({
      payload: { cid: this.$route.params.cid },
      httpQuery: {},
    });
  },
  methods: {
    ...mapActions({
      getCategory: 'Category/getCategory',
      putCategory: 'Category/putCategory',
      $update_category: 'Category/$update_category',
    }),
    confirm() {
      this.$buefy.dialog.confirm({
        message: 'Valider la modification ?',
        cancelText: 'Annuler',
        confirmText: 'Valider',
        onConfirm: () => {
          this.putCategory({ payload: { cid: this.category.cid, ...this.category } })
            .then((res) => {
              if (res) {
                this.$buefy.toast.open({
                  message: 'Modification enregistrée',
                  position: 'is-bottom-right',
                  type: 'is-success',
                });
              } else {
                this.$buefy.toast.open({
                  message: 'Erreur',
                  position: 'is-bottom-right',
                  type: 'is-danger',
                });
              }
            });
        },
      });
    },
  },
};
</script>

<style>

</style>
