<template>
  <section class="section">
    <div class="columns">
      <div class="container column is-5">
        <div class="card">
          <div class="card-header">
            <p class="card-header-title">
              Formulaire de connexion
            </p>
          </div>
          <form class="card-content">
            <UserForm :new-user="newAuthenticate" />
          </form>

          <div class="buttons card-footer-item is-right">
            <button
              class="button is-info"
              @click="loginUser()"
            >
              Connexion
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import UserForm from '../components/UserForm';

export default {
  name: 'TheConnexion',
  components: {
    UserForm,
  },
  data() {
    return {
      newAuthenticate: {
        email: '',
        password: '',
      },
    };
  },
  computed: {
    ...mapGetters({
      userAuth: 'Authenticate/getUserAuth',
    }),
  },
  methods: {
    ...mapActions({
      logIn: 'Authenticate/logIn',
    }),
    loginUser() {
      this.logIn({ payload: { ...this.newAuthenticate } })
        .then((res) => {
          if (res) {
            this.resetInputs();
            this.$buefy.toast.open({
              message: 'Connecté',
              position: 'is-bottom-right',
              type: 'is-success',
            });
            this.$router.push('/');
          } else {
            this.$buefy.toast.open({
              message: 'Echec de connexion',
              position: 'is-bottom-right',
              type: 'is-danger',
            });
          }
        });
    },
    resetInputs() {
      this.newAuthenticate = {
        email: '',
        password: '',
      };
    },
  },
};
</script>

<style>

</style>
