<template>
  <section class="section">
    <div
      v-if="categoryWithRelatedArticles"
      class="container"
    >
      <h1 class="title">
        {{ categoryWithRelatedArticles.title }}
      </h1>
      <div
        v-for="(article, index) in categoryWithRelatedArticles.hasArticle"
        :key="index"
      >
        <div class="card">
          <ArticleView
            :article="article"
          />
          <div class="buttons card-footer-item is-right">
            <router-link
              v-if="article.aid"
              :to="`/article/${article.aid}`"
              class="button is-info"
            >
              Voir l'article
            </router-link>
          </div>
        </div>
        <br>
      </div>
    </div>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import ArticleView from '../components/ArticleView';

export default {
  name: 'TheCategory',
  components: {
    ArticleView,
  },
  beforeRouteUpdate(to, from, next) {
    this.getCategoryWithRelatedArticles({
      payload: { cid: to.params.cid },
      httpQuery: { hasArticle: true },
    })
      .finally(() => next());
  },
  computed: {
    ...mapGetters({
      categoryWithRelatedArticles: 'Category/getCategoryWithRelatedArticles',
    }),
  },
  mounted() {
    this.getCategoryWithRelatedArticles({
      payload: { cid: this.$route.params.cid },
      httpQuery: { hasArticle: true },
    });
  },
  methods: {
    ...mapActions({
      getCategoryWithRelatedArticles: 'Category/getCategoryWithRelatedArticles',
    }),
  },
};
</script>
