<template>
  <section class="section">
    <h1 class="title">
      Gestion des Categories
    </h1>
    <div
      v-if="isAdmin()"
      class="container"
    >
      <div class="columns">
        <div class="container column is-5">
          <div class="card">
            <div class="card-header">
              <p class="card-header-title">
                Ajouter une nouvelle catégorie
              </p>
            </div>
            <form class="card-content">
              <b-field label="Categorie">
                <b-input v-model="newCategory.title" />
              </b-field>
            </form>
            <div class="buttons card-footer-item is-right">
              <button
                class="button is-info"
                @click="sendCategory()"
              >
                Envoyer
              </button>
            </div>
          </div>
        </div>
      </div>
      <br>

      <p class="subtitle">
        Liste des catégories
      </p>
      <b-table
        ref="table"
        class="box"
        :data="categoryList"
        paginated
        per-page="5"
        aria-next-label="Next page"
        aria-previous-label="Previous page"
        aria-page-label="Page"
        aria-current-label="Current page"
      >
        <b-table-column
          v-slot="props"
          field="categoryList.cid"
          label="ID"
          width="40"
          numeric
        >
          {{ props.row.cid }}
        </b-table-column>

        <b-table-column
          v-slot="props"
          field="categoryList.title"
          label="Titre"
          sortable
        >
          {{ props.row.title }}
        </b-table-column>

        <b-table-column v-slot="props">
          <div class="buttons">
            <b-button
              type="is-info"
              icon-right="pen"
              tag="router-link"
              :to="{ path: `/categoryEditor/${props.row.cid}` }"
            />
            <b-button
              type="is-danger"
              icon-right="delete"
              @click="deleteACategory(props.row.cid)"
            />
          </div>
        </b-table-column>
      </b-table>
    </div>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import RightMixin from '../mixins/RightMixin';
import DateMixin from '../mixins/DateMixin';

export default {
  name: 'TheCategoryAdministrator',
  mixins: [RightMixin, DateMixin],
  data() {
    return {
      newCategory: {
        title: '',
      },
    };
  },
  computed: {
    ...mapGetters({
      userAuth: 'Authenticate/getUserAuth',
      categoryList: 'Category/getCategoryList',
    }),
  },
  mounted() {
    this.reportCategoryList({ httpQuery: {} });
  },
  methods: {
    ...mapActions({
      postCategory: 'Category/postCategory',
      deleteCategory: 'Category/deleteCategory',
      reportCategoryList: 'Category/reportCategoryList',
    }),
    deleteACategory(cid) {
      this.deleteCategory({ payload: { cid } })
        .then(() => this.reportCategoryList({ httpQuery: {} }));
    },
    sendCategory() {
      this.postCategory({ payload: { ...this.newCategory } })
        .then((res) => {
          if (res) {
            this.resetInputs();
            this.$buefy.toast.open({
              message: 'Catégorie créée',
              position: 'is-bottom-right',
              type: 'is-success',
            });
          } else {
            this.$buefy.toast.open({
              message: 'Erreur',
              position: 'is-bottom-right',
              type: 'is-danger',
            });
          }
        })
        .then(() => this.reportCategoryList({ httpQuery: {} }));
    },
    resetInputs() {
      this.newCategory = {
        title: '',
      };
    },
  },
};
</script>

<style>

</style>
