<template>
  <section class="section">
    <h1 class="title">
      Espace commentaires
    </h1>
    <div
      v-if="userAuth.uid"
      class="columns"
    >
      <div class="container column is-7">
        <div class="card">
          <div class="card-header">
            <p class="card-header-title">
              Poster un commentaire
            </p>
          </div>
          <form class="card-content">
            <b-field label="Titre">
              <b-input
                v-model="newComment.title"
                minlength="5"
                maxlength="100"
              />
            </b-field>

            <b-field label="Message">
              <b-input
                v-model="newComment.body"
                minlength="2"
                maxlength="250"
                type="textarea"
              />
            </b-field>
          </form>
          <div class="buttons card-footer-item is-right">
            <button
              class="button is-info"
              @click="sendComment()"
            >
              Publier
            </button>
          </div>
        </div>
      </div>
    </div>

    <div v-else>
      <b-message type="is-warning">
        <p>
          Pour poster vous devez être connecté
        </p>
      </b-message>
    </div>

    <br>

    <div
      v-for="(comment, index) in article.hasComment"
      :key="index"
    >
      <div class="box">
        <CommentView :comment="comment" />
        <div
          v-if="isAllowedToInterractWith(comment)"
          class="buttons level-item is-right"
        >
          <button
            class="button is-danger is-light"
            @click="deleteAComment(comment.cid)"
          >
            Supprimer
          </button>
        </div>
      </div>
      <br>
    </div>
  </section>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import DateMixin from '../mixins/DateMixin';
import CommentView from '../components/CommentView';

export default {
  name: 'TheNewComment',
  components: {
    CommentView,
  },
  mixins: [DateMixin],
  props: {
    aid: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      newComment: {
        title: '',
        body: '',
      },
    };
  },
  computed: {
    ...mapGetters({
      article: 'Article/getArticle',
      userAuth: 'Authenticate/getUserAuth',
    }),
  },
  watch: {
    aid(value) {
      this.newComment.hasArticle.aid = Number(value);
    },
  },
  methods: {
    ...mapActions({
      getArticle: 'Article/getArticle',
      postComment: 'Comment/postComment',
      deleteComment: 'Comment/deleteComment',
    }),
    isAllowedToInterractWith(comment) {
      if (this.userAuth.uid && (this.userAuth.uid === comment.user_uid || this.userAuth.hasRole.role === 'admin')) return true;
      return false;
    },
    sendComment() {
      this.postComment({
        payload: {
          ...this.newComment,
          hasArticle: { aid: this.$props.aid },
          user_uid: this.userAuth.uid,
          created_at: this.currentDate(),
        },
      })
        .then((res) => {
          if (res) {
            this.resetInputs();
            this.$buefy.toast.open({
              message: 'Commentaire posté',
              position: 'is-bottom',
              type: 'is-success',
            });
          } else {
            this.$buefy.toast.open({
              message: 'Erreur',
              position: 'is-bottom',
              type: 'is-danger',
            });
          }
        })
        .then(() => this.getArticle({
          payload: { aid: this.$props.aid },
          httpQuery: { hasUser: true, hasComment: true, hasCategory: true },
        }));
    },
    deleteAComment(cid) {
      this.deleteComment({ payload: { cid } })
        .then(() => this.getArticle({
          payload: { aid: this.$props.aid },
          httpQuery: { hasUser: true, hasComment: true, hasCategory: true },
        }));
    },
    resetInputs() {
      this.newComment = {
        title: '',
        body: '',
      };
    },
  },
};
</script>
