<template>
  <div>
    <div
      id="welcom"
      class="welcom"
    >
      <div class="welcom-content">
        <h1 class="title is-1">
          Projet création d'un Blog avec son API REST
        </h1>
        <h3 class="subtitle is-3">
          Réalisé en VueJs & NodeJs
        </h3>
      </div>
    </div>
    <section class="section">
      <div class="container">
        <h1 class="title is-center">
          Listes des articles
        </h1>
        <div
          id="ArticleListToolbar"
          class="buttons"
        >
          <button
            class="button is-info"
            @click="reportMostRecent()"
          >
            Articles Récents
          </button>
          <button
            class="button is-info"
            @click="reportMostCommented()"
          >
            Articles les plus commentés
          </button>
        </div>
        <div
          v-for="(article, index) in articleList"
          :key="index"
        >
          <div class="card">
            <ArticleView :article="article" />

            <div class="buttons card-footer-item is-right">
              <router-link
                v-if="article.aid"
                :to="`/article/${article.aid}`"
                class="button is-info"
              >
                Voir l'article
              </router-link>
            </div>
          </div>
          <br>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import ArticleView from '../components/ArticleView';

export default {
  name: 'TheHome',
  components: {
    ArticleView,
  },
  computed: {
    ...mapGetters({
      articleList: 'Article/getArticleList',
    }),
  },
  mounted() {
    this.reportMostRecent();
  },
  methods: {
    ...mapActions({
      reportArticleList: 'Article/reportArticleList',
    }),
    reportMostCommented() {
      this.reportArticleList({ httpQuery: { hasUser: true, orderByComment: true, limit: 5 } });
    },
    reportMostRecent() {
      this.reportArticleList({ httpQuery: { hasUser: true, orderByDesc: 'created_at', limit: 5 } });
    },
  },
};
</script>

<style>
  .welcom {
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  .welcom-content {
    text-align: center;
  }
  .welcom-content h1 {
    text-shadow: -2px 2px gray;
  }
</style>
