<template>
  <section class="section">
    <div
      v-if="!isConnected"
      class="columns"
    >
      <div class="container column is-5">
        <div class="card">
          <div class="card-header">
            <p class="card-header-title">
              Formulaire d'inscription
            </p>
          </div>
          <form class="card-content">
            <p class="subtitle">
              Infomations de connexion
            </p>

            <UserForm :new-user="newUser" />
          </form>
          <hr>
          <form class="card-content">
            <p class="subtitle">
              Informations personnelles
            </p>

            <UserDetailsForm :new-user="newUser" />
          </form>

          <div class="buttons card-footer-item is-right">
            <button
              class="button is-info"
              @click="registerUser()"
            >
              Inscription
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      v-else
      class="columns"
    >
      <div class="container column is-5">
        <div class="card">
          <div class="card-header">
            <p class="card-header-title">
              Inscription réussie
            </p>
          </div>
          <div class="buttons card-footer-item is-right">
            <router-link
              :to="`/login`"
              class="button is-info"
            >
              Se connecter
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapActions } from 'vuex';
import UserDetailsForm from '../components/UserDetailsForm';
import UserForm from '../components/UserForm';

export default {
  name: 'TheRegister',
  components: {
    UserDetailsForm,
    UserForm,
  },
  data() {
    return {
      newUser: {
        email: '',
        password: '',
        hasDetails: {
          lname: '',
          fname: '',
          pseudo: '',
        },
      },
      isConnected: false,
    };
  },
  methods: {
    ...mapActions({
      postUser: 'User/postUser',
    }),
    registerUser() {
      this.postUser({ payload: { ...this.newUser, hasRole: { role: 'user' } } })
        .then((res) => {
          if (res) {
            this.isConnected = true;
            this.resetInputs();
            this.$buefy.toast.open({
              message: 'Inscription validée',
              position: 'is-bottom-right',
              type: 'is-success',
            });
          } else {
            this.$buefy.toast.open({
              message: 'Echec d\'inscription',
              position: 'is-bottom-right',
              type: 'is-danger',
            });
          }
        });
    },
    resetInputs() {
      this.newUser = {
        email: '',
        password: '',
        hasDetails: {
          lname: '',
          fname: '',
          pseudo: '',
        },
      };
    },
  },
};
</script>

<style>

</style>
