<template>
  <section class="section">
    <div
      v-if="userAuth.uid"
      class="columns"
    >
      <div class="container column is-5">
        <div class="card">
          <div class="card-header">
            <p class="card-header-title">
              Profil utilisateur
            </p>
          </div>
          <form
            class="card-content"
          >
            <p class="card-header-title">
              Informations de connexion
            </p>
            <b-field label="Email">
              <b-input
                type="email"
                :value="userAuth.email"
                disabled
              />
            </b-field>

            <hr>

            <p class="card-header-title">
              Informations personnelles
            </p>

            <UserDetailsForm :new-user="localUser" />
          </form>
          <div class="buttons card-footer-item is-right">
            <b-button
              label="Modifier"
              type="is-info"
              @click="confirm"
            />
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <b-message type="is-warning">
        <p>
          Vous devez être connecté
        </p>
      </b-message>
    </div>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import UserDetailsForm from '../components/UserDetailsForm';

export default {
  name: 'TheUserSettings',
  components: {
    UserDetailsForm,
  },
  computed: {
    ...mapGetters({
      userAuth: 'Authenticate/getUserAuth',
      user: 'User/getUser',
    }),
    localUser: {
      get() { return this.user; },
      set(newValue) { this.$update_user(newValue); },
    },
  },
  mounted() {
    this.getUser({ payload: { uid: this.userAuth.uid }, httpQuery: { hasDetails: true } });
  },
  methods: {
    ...mapActions({
      getUser: 'User/getUser',
      putUser: 'User/putUser',
    }),
    editUserDetails() {
      delete this.user.hasDetails.userUid;
      this.putUser({ payload: { uid: this.user.uid, ...this.user } });
    },
    confirm() {
      this.$buefy.dialog.confirm({
        message: 'Valider la modification ?',
        cancelText: 'Annuler',
        confirmText: 'Valider',
        onConfirm: () => {
          delete this.user.hasDetails.userUid;
          this.putUser({ payload: { uid: this.user.uid, ...this.user } })
            .then((res) => {
              if (res) {
                this.$buefy.toast.open({
                  message: 'Modification enregistrée',
                  position: 'is-bottom-right',
                  type: 'is-success',
                });
              } else {
                this.$buefy.toast.open({
                  message: 'Erreur',
                  position: 'is-bottom-right',
                  type: 'is-danger',
                });
              }
            });
        },
      });
    },
  },
};
</script>

<style>

</style>
