<template>
  <section class="section">
    <div
      v-if="isAdmin()"
      class="columns"
    >
      <div class="container column is-5">
        <div class="card">
          <div class="card-header">
            <p class="card-header-title">
              Modifier l'utilisateur
            </p>
          </div>
          <form
            v-if="user.uid"
            class="card-content"
            @submit.prevent="editUserDetails()"
          >
            <p class="card-header-title">
              Informations de connexion
            </p>
            <b-field label="Email">
              <b-input
                type="email"
                :value="user.email"
                disabled
              />
            </b-field>

            <hr>

            <p class="card-header-title">
              Informations personnelles
            </p>

            <UserDetailsForm :new-user="localUser" />

            <hr>

            <p class="card-header-title">
              Informations sur le statut
            </p>
            <b-field label="Rôle">
              <div class="block">
                <b-radio
                  v-model="localUser.hasRole.role"
                  name="role"
                  native-value="admin"
                >
                  Administrateur
                </b-radio>
                <b-radio
                  v-model="localUser.hasRole.role"
                  name="role"
                  native-value="user"
                >
                  Utilisateur
                </b-radio>
              </div>
            </b-field>
          </form>
          <div class="buttons card-footer-item is-right">
            <b-button
              label="Modifier"
              type="is-info"
              @click="confirm"
            />
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <b-message type="is-warning">
        <p>
          Vous devez être connecté
        </p>
      </b-message>
    </div>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import RightMixin from '../mixins/RightMixin';
import UserDetailsForm from '../components/UserDetailsForm';

export default {
  name: 'TheUserEditor',
  components: {
    UserDetailsForm,
  },
  mixins: [RightMixin],
  computed: {
    ...mapGetters({
      userAuth: 'Authenticate/getUserAuth',
      user: 'User/getUser',
    }),
    localUser: {
      get() { return this.user; },
      set(newValue) { this.$update_user(newValue); },
    },
  },
  mounted() {
    this.getUser({
      payload: { uid: this.$route.params.uid },
      httpQuery: { hasDetails: true, hasRole: true },
    });
  },
  methods: {
    ...mapActions({
      getUser: 'User/getUser',
      putUser: 'User/putUser',
    }),
    confirm() {
      this.$buefy.dialog.confirm({
        message: 'Valider la modification ?',
        cancelText: 'Annuler',
        confirmText: 'Valider',
        onConfirm: () => {
          delete this.user.hasDetails.userUid;
          // on delete le role pour le moment le back ne le gère pas
          delete this.user.hasRole;
          this.putUser({ payload: { uid: this.user.uid, ...this.user } })
            .then((res) => {
              if (res) {
                this.$buefy.toast.open({
                  message: 'Modification enregistrée',
                  position: 'is-bottom-right',
                  type: 'is-success',
                });
              } else {
                this.$buefy.toast.open({
                  message: 'Erreur',
                  position: 'is-bottom-right',
                  type: 'is-danger',
                });
              }
            });
        },
      });
    },
  },
};
</script>

<style>

</style>
