<template>
  <section class="section">
    <h1 class="title">
      Gestionnaire des utilisateurs
    </h1>
    <br>
    <p class="subtitle">
      Liste des utilisateurs
    </p>

    <b-table
      v-if="isAdmin()"
      ref="table"
      class="box"
      :data="userList"
      paginated
      per-page="5"
      aria-next-label="Next page"
      aria-previous-label="Previous page"
      aria-page-label="Page"
      aria-current-label="Current page"
    >
      <b-table-column
        v-slot="props"
        field="userList.uid"
        label="ID"
        width="40"
        numeric
        sortable
      >
        {{ props.row.uid }}
      </b-table-column>

      <b-table-column
        v-slot="props"
        field="userList.email"
        label="Email"
        sortable
      >
        {{ props.row.email }}
      </b-table-column>

      <b-table-column
        v-slot="props"
        field="userList.hasDetails.pseudo"
        label="Pseudo"
        sortable
      >
        {{ props.row.hasDetails.pseudo }}
      </b-table-column>

      <b-table-column
        v-slot="props"
        field="userList.hasDetails.fname"
        label="Prénom"
        sortable
      >
        {{ props.row.hasDetails.fname }}
      </b-table-column>

      <b-table-column
        v-slot="props"
        field="userList.hasDetails.lname"
        label="Nom"
        sortable
      >
        {{ props.row.hasDetails.lname }}
      </b-table-column>

      <b-table-column
        v-slot="props"
        field="userList.hasRole.role"
        label="Role"
        sortable
      >
        {{ props.row.hasRole.role }}
      </b-table-column>

      <b-table-column v-slot="props">
        <div class="buttons">
          <b-button
            type="is-info"
            icon-right="pen"
            tag="router-link"
            :to="{ path: `/userEditor/${props.row.uid}` }"
          />
          <b-button
            type="is-danger"
            icon-right="delete"
            @click="deleteAUser(props.row.uid)"
          />
        </div>
      </b-table-column>
    </b-table>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import RightMixin from '../mixins/RightMixin';

export default {
  name: 'UserAdministator',
  mixins: [RightMixin],
  data() {
    return {
      newUser: {
        lname: 'a',
        fname: 'a',
        pseudo: 'a',
      },
    };
  },
  computed: {
    ...mapGetters({
      userList: 'User/getUserList',
      userAuth: 'Authenticate/getUserAuth',
    }),
  },
  mounted() {
    this.reportUserList({ httpQuery: { hasDetails: true, hasRole: true } });
  },
  methods: {
    ...mapActions({
      reportUserList: 'User/reportUserList',
      deleteUser: 'User/deleteUser',
    }),
    deleteAUser(uid) {
      this.deleteUser({ payload: { uid } })
        .then(() => this.reportUserList({ httpQuery: { hasDetails: true, hasRole: true } }));
    },
  },
};
</script>
