<template>
  <div id="app">
    <header
      id="nav"
      class="header"
    >
      <TheNavBar />
    </header>
    <div id="home">
      <router-view />
    </div>
    <TheFooter />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import TheNavBar from './ui/TheNavBar';
import TheFooter from './ui/TheFooter';

export default {
  name: 'App',
  components: {
    TheNavBar,
    TheFooter,
  },
  computed: {
    ...mapGetters({
      userAuth: 'Authenticate/getUserAuth',
    }),
  },
  mounted() {
    this.getSession();
  },
  methods: {
    ...mapActions({
      getSession: 'Authenticate/getSession',
    }),
  },
};
</script>

<style>
  #app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  body {
    background-color: whitesmoke;
  }
  #home {
    left: 0;
    top: 0;
    width: 100vw;
    flex-grow: 1;
    height: 100%;
  }
  .footer {
    position: relative;
    width: 100%;
    height: 20px;
    bottom: 0;
  }
</style>
